@model NerdDinner.Helpers.PaginatedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}

<h2>Upcoming Dinners</h2>

<ul>
    @foreach (var dinner in Model)
    {
        <li>
            @Html.ActionLink(dinner.Title, "Details", new {id = dinner.DinnerId})
            on
            @Html.Encode(dinner.EventDate.ToShortDateString())
        </li>
    }

</ul>

@if (Model.HasPreviousPage)
{
    @Html.RouteLink("<-", "UpcomingDinners", new { page = (Model.PageIndex - 1)})
}

@if (Model.HasNextPage)
{
    @Html.RouteLink("->", "UpcomingDinners", new { page = (Model.PageIndex + 1)})
}